// color palette
$white: #ffffff;
$gray-100: #101117;
$gray-80: #101117cc;
$gray-65: #101117a6;
$gray-50: #10111780;
$gray-40: #10111766;
$gray-30: #1011174d;
$dark-blue-20: #10111733;
$dark-blue-10: #1011171a;
$dark-blue-05: #1011170d;
$primary-blue-100: #006ef5;
$error: #db0229;
$warning: #e56b00;
$success: #2c8c17;
$background: #f1f2f4;

//Robota
$brand-purple: #6941C6;
$brand-nlue: #3C3C9B;
$brand-pink: #D2468C;
$primary-600:#7F56D9;
$primary-300:#D6BBFB;
$primary-500:#9E77ED;
$blue: #007bff;
$purple: #6f42c1;
$red: #f74236;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$gray-1: #191919;
$gray-2: #323232;
$gray-3: #4B4B4B;
$gray-4: #646464;
$gray-5: #7D7D7D;
$gray-6: #969696;
$gray-7: #AFAFAF;
$gray-8: #C8C8C8;
$gray-9: #E1E1E1;
$gray-10: #F0F0F0;
$gray-11: #FAFAFA;
$gray-50:#F9FAFB;
$gray-100: #F2F4F7;
$gray-300: #D0D5DD;
$gray-500: #667085;
$gray-700: #344054;
$gray-800: #1D2939;
$gray-900: #101828;
$primary-700: #6941C6;
$success-700: #027A48;
$white: #ffffff;
$tomato-red: #db3e52;

//border color
$horizental: linear-gradient(90deg, #D2468C 0%, #3C3C9B 100%);
$vertical: linear-gradient(180deg, #D2468C 0%, #3C3C9B 100%);


//shadows
$main: 0px 1px 3px rgba(25, 25, 35, 0.15);
$hover: 0px 2px 6px rgba(25, 25, 35, 0.15);
$modal: 0px 4px 18px 3px rgba(25, 25, 35, 0.05); 
