/* Remove default margin */
@import './color';

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
hr,
dd {
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
}

* {
  font-family: 'Roboto', sans-serif !important;
  text-transform: none !important;
}

body {
  direction: ltr;
  background-color: $white;
  overflow: hidden;

  &::-webkit-scrollbar {
    width: 4px;
    background-color: #f5f7fa;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #bec4cb;
  }

  &::-webkit-scrollbar-track {
    border-radius: 2px;
    //-webkit-box-shadow: inset 0 0 0 1px #fff;
  }
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

input {
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  background: #e5e5e5;
  height: 1px;
  border: none;
}

.vtk {
  top: 146px !important;
  width: 50% !important;
  height: 770px !important;
  left: unset !important;
  @media (max-width: 1450px) {
    right: -10px !important;
  }

  @media (max-width: 980px) {
    width: 40% !important;
  }

  @media (max-width: 816px) {
    width: 30% !important;
  }

  @media (min-width: 1450px) {
    right: 12% !important;
  }

  > canvas {
    width: 700px !important;
    height: 770px !important;
  }
}

.v-expansion-panel-content {
  border-radius: 0px !important;
}

.v-expansion-panel-content__wrap {
  padding: 32px 8px 16px 8px !important;
}

.v-expansion-panel {
  border-radius: 0px !important;
}

.d-hidden {
  display: none !important;
}

.pointer {
  cursor: pointer;
}
