.badge {
  background: $primary-50;
  border-radius: 16px;
  color: currentColor;
  display: inline-flex;
  font-size: 12px;
  font-weight: 500;
  margin: 0 8px;
  padding: 2px 8px;

  &.success {
    background: $success-50;
    color: $success-700;
  }

  &.error {
    background: $error-50;
    color: $error-700;
  }
}
