.box {
  background: $white;
  border: 1px solid $gray-200;
  border-radius: 8px;
}

.action,
.topShelf {
  padding: 16px 24px;
}

.topShelf {
  border-bottom: 1px solid $gray-200;
}

.action {
  display: flex;
  justify-content: flex-end;
  svg {
    margin: 0 10px;
  }
}

.title {
  color: $gray-900;
  font-size: 16px;
  font-weight: 500;
}

.description,
.copyText {
  color: $gray-500;
  font-size: 14px;
  margin-bottom: 24px;
}
