.pairLogo {
  $size: 24px;

  border-radius: 50%;
  height: $size;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  width: $size;

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
