.button {
  border-radius: 32px;
  margin-bottom: 24px;
  padding: 8px 16px;

  &.customprimary {
    background-color: $primary-700;
  }
  .custominfo {
  }
  .customsecondary {
  }
  .customsuccess {
  }
  .customerror {
  }
  .customwarning {
  }
}
