.button {
  background-color: $primary-600;
  border-radius: 32px;
  text-transform: none;
  padding: 8px 16px;

  &.customprimary {
    background-color: $primary-600;
  }
  .custominfo {
  }
  .customsecondary {
  }
  .customsuccess {
  }
  .customerror {
  }
  .customwarning {
  }

  &:global {
    &.MuiButton-outlined {
      background: transparent;

      &.MuiButton-outlinedPrimary {
        border: 1px solid $gray-300;
        color: $gray-700;
      }
    }
  }
}
