.wrapper {
  :global {
    .MuiInputBase-root {
      border-radius: 8px;
      padding-bottom: 3px;
      padding-top: 3px;
      //   padding: 10.5px 14px;
    }

    ::placeholder {
      color: $gray-900;
      opacity: 1;
    }
  }

  &.error {
    :global {
      .MuiInputBase-root {
        border: 1px solid $error-500;
      }
    }
  }

  .icon {
    height: 20px;
    width: 20px;

    img,
    svg {
      max-height: 20px;
      max-width: 20px;
      object-fit: contain;
      width: 100%;
    }
  }
}
