.groupWrapper {
  width: 100%;
}

.itemWrapper {
  border: 1px solid $gray-200;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 12px 0;
  position: relative;
  width: 100%;

  &.checked {
    background: $primary-50;
    border-color: $primary-300;
  }
}

.radioContainer {
  align-items: center;
  border: 1px solid $gray-300;
  border-radius: 50%;
  color: $white;
  display: flex;
  height: 20px;
  justify-content: center;
  position: absolute;
  right: 16px;
  top: 16px;
  width: 20px;

  &.checked {
    background: $primary-600;
    border-color: $primary-600;
  }
}

.radio {
  display: none;
}
