.label {
  color: $gray-700;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
}

.description {
  color: $gray-500;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}

.divider {
  border-bottom: 1px solid $gray-200;
  margin: 24px 0;
}

@media (min-width: $breakpoint-md) {
  .description {
    margin-bottom: 0;
  }
}
