.wrapper {
  :global {
    .MuiSlider-root {
      color: $gray-200;
      height: 8px;
      padding-bottom: 18px;
      padding-top: 18px;
    }

    .MuiSlider-track {
      background-color: $primary-600;
    }

    .MuiSlider-thumb {
      background-color: $white;
      border: 1px solid $primary-600;
      height: 24px;
      width: 24px;
    }
  }
}
