.label {
  color: $gray-700;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
  width: auto;
}

.inputWrapper {
  margin-bottom: 20px;
}

.input {
  :global {
    .MuiInputBase-root {
      border: $gray-300;
      border-radius: 8px;
      box-shadow: $input-shadow;
    }

    .MuiInputBase-input {
      padding: 10.5px 14px;
    }

    .MuiInputBase-inputAdornedStart {
      padding-left: 0;
    }

    .MuiInputBase-inputAdornedEnd {
      padding-right: 0;
    }
  }
}
