$spacing: 8;
$spacingItems: 0,0.5,1,1.5,2,3,4,5,6,7,8,9,10;

@each $item in $spacingItems {
  $finalValue: ($spacing * $item) + px;

  @if($item == 0.5){
    $item: '0-5'
  }

  @if($item == 1.5){
    $item: '1-5'
  }

  .p-#{$item} {
    padding: $finalValue !important;
  }
  .p-l-#{$item} {
    padding-left: $finalValue !important;
  }
  .p-r-#{$item} {
    padding-right: $finalValue !important;
  }
  .p-t-#{$item} {
    padding-top: $finalValue !important;
  }
  .p-b-#{$item} {
    padding-bottom: $finalValue !important;
  }
  .p-y-#{$item} {
    padding-bottom: $finalValue !important;
    padding-top: $finalValue !important;
  }
  .p-x-#{$item} {
    padding-right: $finalValue !important;
    padding-left: $finalValue !important;
  }

  .m-#{$item} {
    margin: $finalValue !important;
  }
  .m-t-#{$item} {
    margin-top: $finalValue !important;
  }
  .m-r-#{$item} {
    margin-right: $finalValue !important;
  }
  .m-b-#{$item} {
    margin-bottom: $finalValue !important;
  }
  .m-l-#{$item} {
    margin-left: $finalValue !important;
  }
  .m-y-#{$item} {
    margin-top: $finalValue !important;
    margin-bottom: $finalValue !important;
  }
  .m-x-#{$item} {
    margin-right: $finalValue !important;
    margin-left: $finalValue !important;
  }
}