@import '../global/color';

$colors: (
    'white' $white,
    'brand-purple' $brand-purple,
    'brand-nlue' $brand-nlue,
    'brand-pink' $brand-pink,
    'blue' $blue,
    'purple' $purple,
    'red' $red,
    'orange' $orange,
    'yellow' $yellow,
    'green' $green,
    'gray-1' $gray-1,
    'gray-2' $gray-2,
    'gray-3' $gray-3,
    'gray-4' $gray-4,
    'gray-5' $gray-5,
    'gray-6' $gray-6,
    'gray-7' $gray-7,
    'gray-8' $gray-8,
    'gray-9' $gray-9,
    'gray-10' $gray-10,
    'gray-11' $gray-11,
    'gray-50' $gray-50,
    'gray-100' $gray-100,
    'gray-500' $gray-300,
    'gray-500' $gray-500,
    'gray-700' $gray-700,
    'gray-800' $gray-800,
    'gray-900' $gray-900,
    'success-500' $success-500,
    'success-700' $success-700,
    'primary-700' $primary-700,
    'primary-500' $primary-500,
    'tomato-red' $tomato-red,
);

@each $color, $value in $colors {
    .#{$color} {
      color: $value !important;
    }

    .bg-#{$color} {
      background-color: $value !important;
    }
}