.authControlWrapper {
  align-items: center;
  background: #fafafa url('../../assets/images/account-control-mobile-bg.svg') no-repeat center -10%;
  background-size: 123%;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.desktop-logo {
  display: none;
}

.mobileLogo {
  height: $mobile-logo-size;
  width: $mobile-logo-size;
  margin-bottom: 24px;
}

.authLinks {
  a {
    text-decoration: none;
  }
}

.authControlCard {
  background: transparent;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 160px;

  :global {
    .pageDescription {
      font-size: 14px;
      font-weight: 400;
      color: $gray-500;
    }

    a {
      color: $primary-700;
      font-weight: 600;
      text-decoration: none;
    }
  }
}

:global {
  .pageImportantMessage {
    font-size: 14px;
    font-weight: 500;
    color: $gray-700;
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

:global {
  .pageTitle {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
    text-align: center;
  }

  .pageSubtitle {
    color: $gray-500;
    margin-bottom: 24px;
    text-align: center;
  }
}

@media (min-width: 480px) {
  .authControlCard {
    background: $white;
    box-shadow:
      0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14),
      0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    height: auto;
    max-width: 440px;
    padding: 30px 40px;
    width: calc(100vw - 80px);
  }
}

@media (min-width: $breakpoint-sm) {
  .authControlWrapper {
    // background: #fafafa
    //   url("../../assets/images/account-control-desktop-bg.svg") no-repeat;
    background: #fafafa url('../../assets/images/auth-desktop.svg') no-repeat;
    background-position: center center;
    background-size: 1230px;
  }

  .mobileLogo {
    display: none;
  }

  .desktop-logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 100px;
    width: 280px;
  }
}
