.layout {
  display: grid;
  grid-template-rows: 64px auto 50px;
  grid-template-areas:
    "header"
    "content"
    "sidebar";
}

.header {
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #eaecf0;
  display: flex;
  grid-area: header;
  position: sticky;
  top: 0;
  z-index: 1;
}

.content {
  grid-area: content;
  padding: 32px 16px;
  min-height: calc(100vh - 114px);
}

.sidebar {
  background: #fff;
  border-top: 1px solid #eaecf0;
  bottom: 0;
  grid-area: sidebar;
  position: sticky;
  z-index: 1;
}

@media (min-width: $breakpoint-lg) {
  .layout {
    grid-template-columns: 80px auto;
    grid-template-rows: 90px auto;
    grid-template-areas:
      "header header"
      "sidebar content";
    height: 100vh;
  }

  .header {
  }

  .content {
    min-width: none;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 32px;
  }

  .sidebar {
    border-top: 0;
    border-right: 1px solid #eaecf0;
    display: flex;
    justify-content: center;
  }
}
