.header {
  border-bottom: 1px solid $gray-200;
  padding: 20px 24px;
}

.title {
  color: $gray-900;
  font-size: 18px;
  font-weight: 500;
}

.description {
  color: $gray-500;
  font-size: 14px;
}
