.botBaseInfo {
  color: $primary-700;
  font-size: 16px;
  font-weight: 500;
}

.values {
  color: $gray-900;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}
