.headBand {
  background: $primary-50;
  border-radius: 8px;
  display: none;
  margin: 25px 0;
  padding: 20px;

  &.isOpen {
    display: block;
  }
}

.title {
  color: $primary-500;
  font-size: 14px;
  font-weight: 50;
  margin-bottom: 8px;
}

.item {
  :global {
    * {
      color: $primary-700;
      font-size: 16px;
      font-weight: 500;
    }
  }
}

@media (min-width: $breakpoint-md) {
  .headBand {
    display: block;
  }
}
