.linkBar {
  border-bottom: 1px solid $gray-200;
}

.linksWrapper {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.linkItem {
  color: $gray-500;
  font-size: 14px;
  font-weight: 500;

  a {
    display: block;
    padding: 16px 12px;
    text-decoration: none;

    &.isAtive {
      color: $primary-700;
    }
  }
}
