.wrapper {
  display: flex;
  flex-direction: column;

  :global {
    .MuiButtonBase-root {
      height: 40px;
      margin: 4px 0;
      width: 40px;
    }
  }
}

.nav,
.sharing,
.profile {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sharing,
.profile {
  display: none;
}

.sharing {
  flex-basis: auto;
  flex-shrink: 0;
  flex-grow: 0;
}

.profile {
  flex-basis: auto;
  flex-shrink: 0;
  flex-grow: 0;
}

@media (min-width: $breakpoint-lg) {
  .nav {
    flex-basis: 0;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
  }

  .sharing,
  .profile {
    display: flex;
  }
}
